@model (string WidgetZone, int ProductId, string ProductCost)

@if (Model.ProductId > 0)
{
    <div>
       
    </div>
}
else
{
    <script asp-location="Footer">
        $(document).ready(function () {
                   });
    </script>
}

<script asp-location="Footer">
    $(document).ready(function () {
        
    });
</script>